[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RMT4DS"]
	path = RMT4DS
	url = https://github.com/cran/RMT4DS
[submodule "SIMle"]
	path = SIMle
	url = https://github.com/cran/SIMle
[submodule "Sie2nts"]
	path = Sie2nts
	url = https://github.com/cran/Sie2nts
